[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Production Puppet code
[access "refs/*"]
	owner = group miraheze-operations
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group miraheze-operations
	label-Verified = -1..+1 group miraheze-operations
	push = group miraheze-operations
	read = group miraheze-operations
	rebase = group miraheze-operations
	removeReviewer = group miraheze-operations
	submit = group miraheze-operations
[access "refs/heads/*"]
	create = group miraheze-operations
	push = group miraheze-operations
	pushMerge = group miraheze-operations
	read = group miraheze-operations
[access "refs/tags/*"]
	push = group miraheze-operations
