[Unit]
Description=MediaWiki Collection Offline Content Generator
After=network.target

[Service]
User=ocg
Group=ocg
ExecStart=/usr/local/bin/nserve /usr/local/bin/mw-qserve /usr/local/bin/nslave --cachedir /srv/pdf/cache/

[Install]
WantedBy=multi-user.target
