name: Check Python
on:
  push:
    paths:
      - '**.py'
      - '.github/**'

  pull_request:
    paths:
      - '**.py'
      - '.github/**'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: ['3.9', '3.11']
    steps:
      - uses: actions/checkout@v4
      - name: Python ${{ matrix.python }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }} 
      - name: Install packages
        run: |
          sudo apt-get update
          sudo apt-get install -y libgnutls28-dev
          pip install -U pip
          pip install -r .github/pythonchecks.txt
      - name: Run tests
        run: |
          flake8 modules/mediawiki modules/ssl --ignore=E501,W503,SFS301
          coverage run --branch -m pytest modules/mediawiki
          mypy modules/mediawiki modules/ssl --ignore-missing-imports
